body {
    background-color: #111;
    margin: 0;
    overflow: hidden;
    font-family: Garamond, sans-serif;
}

#container {
    display: flex;
    align-items: center;
}

#container > div {
    height: 100vh;
    color: #eee;
}

#container > #list {
    width: 70vw;
}

#container > #info {
    width: fit-content;
}

#list div::-webkit-scrollbar {
    display: none;
}

#infoBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 30vw;
    background-size: cover;
}

.blur {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.4);
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#title > #album {
    font-size: 3em;
    mix-blend-mode: difference;
}

#title > #band {
    font-size: 1.5em;
}

#spotify {
    width: 100%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    z-index: 1;
}

.close img {
    width: 20px;
    height: 20px;
}

table td, table th {
    border-bottom: #666 solid 1px;
}

.specialFont {
    font-family: "Ink Free", serif;
}
